* {
  box-sizing: border-box;
}

/* т.к. box-sizing: border-box; не сработает для псевдоэлементов, это нужно указать явно */
/*! скорее всего не пригодится*/
*::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

html {
  /* Плавная прокрутка на якорные ссылки */
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #829985;
}

main  {
  /* border: 1px solid tomato; */
}

footer {
  /* border: 1px solid tomato; */
  background-color: #829985;
  padding: 20px;
}

.container{
  max-width: 1440px;
  margin: 0px auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: ease-in-out 0.3s;
}

.nav-link:hover {
  color: black;
  /* transition: ease-in-out 0.3s; */
}

.section-profile-photo {
  width: 200px;
  height: auto;
  border-radius: 50%;
}


.code-red {
  color: tomato;
}

.code-blue {
  color: blueviolet;
}

.footer-container {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.rsschool {
  width: 121px;
  height: 45px;
  background-image: url(./assets/svg/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
}